*{
  margin: 0;
  padding: 0;
}
.container{
  margin: 100px auto;
  width: 200px;
}

.box{
  width: 200px;
  margin-bottom: 4px;
}
.box>p{
  background-color: red;
  text-align: center;
  height: 32px;
  line-height: 32px;
}

.warp{
  list-style-type: none;
  text-align: center;
  /* display: none; */
  height: 0px;
  transition: all .5s ease-in;
  overflow: hidden;
}

.box:hover>.warp{
  /* display: block; */
  height: 100px;
}

.warp>li{
  height: 20px;
}